<!DOCTYPE html>
<html lang="en" data-pgc-master="basic.html">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Blank Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="../style.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css"/><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,300italic,400italic,600italic,700italic&display=swap"/></head>

  <body>

    <div data-pgc-field="editableArea"><section class="bg-light" data-pgc-define="navBar" data-pgc-define-name="Navigation">
                <div class="container">
                    <div class="d-flex">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example"> 
                            <button type="button" class="btn btn-primary shadow-none" style="padding: 14px;">My Articles</button>                             

                            <button type="button" class="btn btn-light shadow-none" style="padding: 14px;">Order History</button>                                                          
                        </div>
                        <div class="btn-group btn-group-sm ms-auto" role="group" aria-label="Basic example"> 
                            <button type="button" class="btn btn-light shadow-none" style="padding: 14px;">My Author Profile</button>                                                                                       
                        </div>
                    </div>
                </div>
            </section><section data-pg-name="vertical-nav" class="py-5">
                <div class="container">
                    <h2>Vertical nav - Sign License, etc.</h2>
                </div>
                <div class="container overflow-hidden">
                    <div class="gx-5 row">
                        <div class="col-lg-4">
                            <ul class="flex-column nav nav-pills as-vertical-nav" data-pgc-define="as.vertical-nav">
                                <li class="nav-item" data-pgc-repeat="as.vertical-nav--item"><a class="align-items-center d-flex justify-content-between nav-link py-3 small" href="#" data-pgc-edit="as.vertical-nav--item-link" data-pgc-edit-classes="active,complete,disabled">Funders & Grant Details<span class="mdi mdi-18px mdi-check-bold me-n4 text-success"></span></a>
                                </li>
                                
                                
                                
                                
                                
                            </ul>
                        </div>
                        <div class="col-lg-4"><ul class="flex-column nav nav-pills as-vertical-nav" data-pgc="as.vertical-nav">
                                <li class="nav-item" data-pgc-field="as.vertical-nav--item"><a class="align-items-center d-flex justify-content-between nav-link py-3 small" href="#" data-pgc-field="as.vertical-nav--item-link">Default<span class="mdi mdi-18px mdi-check-bold me-n4 text-success"></span></a>
                                </li><li class="nav-item" data-pgc-field="as.vertical-nav--item"><a class="align-items-center complete d-flex justify-content-between nav-link py-3 small" href="#" data-pgc-field="as.vertical-nav--item-link">Completed<span class="mdi mdi-18px mdi-check-bold me-n4 text-success"></span></a>
                                </li><li class="nav-item" data-pgc-field="as.vertical-nav--item"><a class="active align-items-center d-flex justify-content-between nav-link py-3 small" href="#" data-pgc-field="as.vertical-nav--item-link">Active<span class="mdi mdi-18px mdi-check-bold me-n4 text-success"></span></a>
                                </li><li class="nav-item" data-pgc-field="as.vertical-nav--item"><a class="align-items-center d-flex disabled justify-content-between nav-link py-3 small" href="#" data-pgc-field="as.vertical-nav--item-link">Disabled<span class="mdi mdi-18px mdi-check-bold me-n4 text-success"></span></a>
                                </li>
                                
                                
                                
                                
                                
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </section></div><div data-pg-name="modals" data-pgc-field="modals"></div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/popper.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
  <script src="../assets/js/demo-data.js"></script></body>
</html>
