<!DOCTYPE html>
<html lang="en" data-pgc-master="basic.html">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Blank Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="../style.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css"/><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,300italic,400italic,600italic,700italic&display=swap"/></head>

  <body>

    <div class="" data-pgc-field="editableArea"><section class="bg-light" data-pgc-define="navBar" data-pgc-define-name="Navigation">
                <div class="container">
                    <div class="d-flex">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example"> 
                            <button type="button" class="btn btn-primary shadow-none" style="padding: 14px;">My Articles</button>                             

                            <button type="button" class="btn btn-light shadow-none" style="padding: 14px;">Order History</button>                                                          
                        </div>
                        <div class="btn-group btn-group-sm ms-auto" role="group" aria-label="Basic example"> 
                            <button type="button" class="btn btn-light shadow-none" style="padding: 14px;">My Author Profile</button>                                                                                       
                        </div>
                    </div>
                </div>
            </section></div><footer class="bg-dark py-5 text-white">
            <div class="container">
                <div class="mb-4 row">
                    <div class="col-md-3">
                        <h2 class="fw-normal h4 mb-4 text-info">Wiley Authors</h2>
                        <ul class="list-unstyled small"> 
                            <li class="mb-2"><a href="#" class="fw-normal text-decoration-none text-reset">Resources</a>
                            </li>                             
                            <li class="mb-2"><a href="#" class="fw-normal text-decoration-none text-reset">My Dashboard</a>
                            </li>                             
                            <li class="mb-2"><a href="#" class="fw-normal text-decoration-none text-reset">Find a Journal</a>
                            </li>                             
                        </ul>                         
                    </div>
                    <div class="col-md-3">
                        <h2 class="fw-normal h4 mb-4 text-info">Help</h2>
                        <ul class="list-unstyled small"> 
                            <li class="mb-2">
                                <a href="#" class="fw-normal text-decoration-none text-reset">Browse Help Resources</a>
                            </li>                             
                            <li class="mb-2">
                                <a href="#" class="fw-normal text-decoration-none text-reset">Contact Author Support</a>
                            </li>                             
                        </ul>                         
                    </div>
                    <div class="col-md-3">
                        <h2 class="fw-normal h4 mb-4 text-info">Legal</h2>
                        <ul class="list-unstyled small"> 
                            <li class="mb-2">
                                <a href="#" class="fw-normal text-decoration-none text-reset">Privacy Policy</a>
                            </li>                             
                            <li class="mb-2">
                                <a href="#" class="fw-normal text-decoration-none text-reset">Terms and Conditions</a>
                            </li>                             
                            <li class="mb-2">
                                <a href="#" class="fw-normal text-decoration-none text-reset">Cookie Preferences</a>
                            </li>                             
                        </ul>                         
                    </div>
                    <div class="col-md-3">
                        <h2 class="fw-normal h4 mb-4 text-info">Stay Connected</h2>
                        <ul class="list-unstyled small"> 
                            <li class="mb-2">
                                <a href="#" class="align-items-baseline d-inline-flex fw-normal text-decoration-none text-reset"><span class="align-self-center mdi mdi-18px mdi-facebook me-2"></span>Wiley in Research</a>
                            </li>                             
                            <li class="mb-2">
                                <a href="#" class="align-items-baseline d-inline-flex fw-normal text-decoration-none text-reset"><span class="align-self-center mdi mdi-18px mdi-twitter me-2"></span>@wileyinresearch</a>
                            </li>                             
                        </ul>                         
                    </div>
                </div>
                <div class="row">
                    <div class="col"> 
                        <p class="small">Copyright &copy; 2000-2022 by John Wiley &amp; Sons, Inc. All rights reserved.</p> 
                    </div>
                    <div class="col text-end">
                        <img src="../assets/images/logos/wiley-wordmark-white.svg" width="128px"/>                          
                    </div>
                </div>
            </div>
        </footer><div data-pg-name="modals" data-pgc-field="modals"></div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/popper.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
